body{
    max-width: 1140px;
    border: 1px solid blue;
    margin: 0 auto;
}
.image-container{
    display: flex;
}
.image-container div{
    width: 50%;
}
.image-container img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .image-container{
        flex-direction: column;
    }
    .image-container div{
        width: 100%;
    }

    

    
}